@page "/learnBlazor/bindprop"


<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />
        
        @* @bind is for two way bindind which is onfocus changed by default. To override it we added @bind:event="oninput". 
It is also handling with checked by default. *@
        IsActive: <input type="checkbox" @bind="@Product.IsActive"/> <br/>
        Input Price: <input type="number" @bind="@Product.Price" @bind:event="oninput"/> <br/>
        Product Properties
        <select @bind="selectedProp">
            @foreach (var prop in Product.ProductProperties)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select> <br/>
    </div>
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />

        Name: @Product.Name <br />
        IsActive: @Product.IsActive <br />
        Price: @Product.Price <br />
        This @Product.Name is: <span>@(Product.IsActive ? "Active" : "Inactive")</span> <br />

        Selected Prop: @selectedProp
        @if (!string.IsNullOrEmpty(selectedProp))
        {
        <p>Selected Value: @Product.ProductProperties.FirstOrDefault(x => x.Key == selectedProp)?.Value</p>
        }
    </div>
</div>



@code {
    private string selectedProp = "";

    Product Product = new()
    {
        Id = 1,
        Name = "Product 1",
        IsActive = true,
        Price = 5,
        ProductProperties = new List<Product_Prop>
        {
            new() { Id = 1, Key = "Color", Value = "Red" },
            new() { Id = 2, Key = "Size", Value = "20oz" },
            new() { Id = 3, Key = "Flavor", Value = "Rose" },
        }
    };
}